<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-IframeDte-20190627023335.mdf;Initial Catalog=aspnet-IframeDte-20190627023335;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="jarvisBearer" value="e10cb546f01844dbac5cb5b363a20ef4" />
    <!--- DEV -->
    <!--<add key="jarvisUrl" value="http://localhost:50727/api/" />-->
    <!--<add key="jarvisUsr" value="efarias" />
    <add key="jarvisPass" value="Teste@1234" />
    <add key="dteResgate" value="https://qa-mypmi.cs80.force.com/dtebr/s/shopping" />
    <add key="isDev" value="1" />
    <add key="fixedQuery" value="LDDFnDrHsxDhH5Cfz6Iu4p1Fz6GetLppI6+fBwSi65B0B9CbiaK1M6bUz5yR9ryNdS0X01qKB/XHuuhPhrw3oQs6z0/madc+Hx+0fLxTQYxHNA6jT63GqWwZ/Ck8Ve/ZVmsh2KlRgsnD0UT7xJi6H3xPjKP1EM16MAbU9D+kO7Cv04InNs8zcEil/sUGfmxdVqYEweVDRydLkSOnVuoHGbE3k9FS0ddX9kMzFYJNPAoHsRs1yV+bap6LpGmdFggw6h7ungW8+ee6QZ5J7+OG+f7uqJIGvbDR/aYE1KOfx2nuGb5rDZ77I7bGYFEYL2SEbTz2J68lVHPKBevvdV7A+UDVWplcd+HjYqiTtixQNnjH0aG803XN9TgzjLyMcl9MBdJYr28bC7wGrVTGy0/ESnwG4a5CFbv+reKsJ2+D8PEwxQcC4SnozyfrRdS1FKnny8U089490EL1x1ir/LxI1udloEK+oeChmU/hscxiQmigcXL6Fa5FPT0+I4/yVQctyiri/Ts+4nkfUF8Zksbu2EDF+x7eMHuJWwPNjRPJHYOCG0V1DCv0u7cvb7YABe54VFLQhTfzFH3jdjDRU4kQ4RFOVZbAWtMrCJr3oq3zTKM=" />
    <add key="DTE_Key" value="AC37A27EF8391CD3AC37A27EF8391CD3" />
    <add key="DTE_IV" value="TestPMI 12345678" />
    <add key="fixedQuery2" value="qDvNfa/LpdMaOL9Pu6Ukj/WtuiytrCJJoJwJ6CG4ClC9/WTEaH7UHCd9PFfosjOhL/a1nkFC2jhA3sO9USFAV9j9cKy29vwxB1tkZQwAblAa+COW8fNvWE2JqzWKJOVQbLEo+EBcz+hOtUpzjfvLKBw2GmKq5mlLMV7x9/pfB7m/AjHBmX0aMRW+xKxrr9v8WWHm+L9QiVSSQSVB+SEn1XS3PxKb/Npad/rR+5CVKtFKXNgA8wm4Q36VNn5JiUkS83AjQjSUdmM0oQgmVSkgxWP45Bj2qqDd1ZXnRfUjy4mqZ15QnDIp0ldJ+ggoFgJo0Z+DDUQiKbRJaCjwXV9JJExy1ERbBIfVyoiFXaXtIdUo6LuLVjAAjABukw5Z5qWizc94DuUDQCN5KguHWoDo1SMwGZ8ianStyOthUajPgXZbwmrgetyki4qgwkFlSfY0KPqP2AKxsHFUqGuo81zTE2s85yn5LxetitGw+uzlX647YZIPLWKltUUwyYVYbWAWLY0+SyHpmBXN00bGj6YgFBz1P7F1Gc0tTL4cW4ZbwRYoJ7n+C1fOnaRIs65c57X/sk6pmTharekhvoR5zpNLiwRhsFHndsCr41YTr0QqrEVoN8etXOsok6taTiVcVRDF" />
    <add key="DTE_Contract_Key" value="kqs3oYi5vTctl6fywDLn1gYPdjw9sbbu" />
    <add key="DTE_Contract_IV" value="FB3RlsfaCW8YYgSX" />
    <add key="DTE_Dmd_Key" value="J1BjDqUJv82aLLP0kQj6Is520VJzZxwP" />
    <add key="DTE_Dmd_IV" value="zqbKPPnb2hmLla6F" />
    <add key="DTE_Test_Key" value="UgxYRnOEgQvw0846TOz7YFvzEDjWL4Zt" />
    <add key="DTE_Test_IV" value="DeacsjuLvg6KQnda" />-->
    <!--- QA -->
    <!--<add key="jarvisUrl" value="https://qa.portalezd.com/jarvis/api/" />
    <add key="jarvisUsr" value="IframeUser" />
    <add key="jarvisPass" value="XE0WUK3K" />
    <add key="dteResgate" value="https://qa-mypmi.cs80.force.com/dtebr/s/shopping" />
    <add key="isDev" value="1" />
    <add key="fixedQuery" value="qDvNfa%2FLpdMaOL9Pu6Ukj1yODpKulTzyu3lU2HyiNjVBsC4pO5ULAG256OVr9b5vk5NHmn8U6Y7UeH0i2QWwRu1rkb2MrHXWYBLM1JCqOAsM5vbe53umu9dZO%2BK0iiHKKaYWv26pigU1xHu07Rw916KxmBqf2ts2SI0qoiT9Dd7bquuKMJyGN6x17rUOyKnYeBwP99Z6UyPKX57y7r3Q9St0H%2Bw1LF87plrvdjovnloZjj4tE%2FO9kQO1sx%2BMMyvu3BC%2FSwES8XSjJWbsMutQ3Af2%2FwOwBqjVOhXApj%2FCn7MQT6Dmxf1asAKvVxRQp5NgSpHdrr0Pw7rCjf0ultCB0gsOtPBItRPKGwlcM3vtcsK2j3hHFTHGKlXoPwrO74apwUVx3VukRNgS9yCKNjTF46WK590OCI9ur3ClgEDMNEtq%2BZgXJLOhu%2FPyd%2ByNOiRCzUJneYZLgLok8UbRrnPsKrEuht3s2AhWazThNqyhd2fObhOZfjDU7VB6feEav0ELOdvzSWTxU%2FFf%2BsWUXkFi2giznUtCTh79UGd9eGUZ2RjO5xYhFcbf4KgcjX3w6oMx84e%2BJeF%2B22vHWoRdPBlD7C3ZMCqX5KKuDpHlsPSphhs375r7uR6TrifZYK5hlsW6" />
    <add key="DTE_Key" value="AC37A27EF8391CD3AC37A27EF8391CD3" />
    <add key="DTE_IV" value="TestPMI 12345678" />
    <add key="fixedQuery2" value="qDvNfa/LpdMaOL9Pu6Ukj/WtuiytrCJJoJwJ6CG4ClC9/WTEaH7UHCd9PFfosjOhL/a1nkFC2jhA3sO9USFAV9j9cKy29vwxB1tkZQwAblAa+COW8fNvWE2JqzWKJOVQbLEo+EBcz+hOtUpzjfvLKBw2GmKq5mlLMV7x9/pfB7m/AjHBmX0aMRW+xKxrr9v8WWHm+L9QiVSSQSVB+SEn1XS3PxKb/Npad/rR+5CVKtFKXNgA8wm4Q36VNn5JiUkS83AjQjSUdmM0oQgmVSkgxWP45Bj2qqDd1ZXnRfUjy4mqZ15QnDIp0ldJ+ggoFgJo0Z+DDUQiKbRJaCjwXV9JJExy1ERbBIfVyoiFXaXtIdUo6LuLVjAAjABukw5Z5qWizc94DuUDQCN5KguHWoDo1SMwGZ8ianStyOthUajPgXZbwmrgetyki4qgwkFlSfY0KPqP2AKxsHFUqGuo81zTE2s85yn5LxetitGw+uzlX647YZIPLWKltUUwyYVYbWAWLY0+SyHpmBXN00bGj6YgFBz1P7F1Gc0tTL4cW4ZbwRYoJ7n+C1fOnaRIs65c57X/sk6pmTharekhvoR5zpNLiwRhsFHndsCr41YTr0QqrEVoN8etXOsok6taTiVcVRDF" />
    <add key="DTE_Contract_Key" value="kqs3oYi5vTctl6fywDLn1gYPdjw9sbbu" />
    <add key="DTE_Contract_IV" value="FB3RlsfaCW8YYgSX" />
    <add key="DTE_Dmd_Key" value="J1BjDqUJv82aLLP0kQj6Is520VJzZxwP" />
    <add key="DTE_Dmd_IV" value="zqbKPPnb2hmLla6F" />
    <add key="DTE_Test_Key" value="UgxYRnOEgQvw0846TOz7YFvzEDjWL4Zt" />
    <add key="DTE_Test_IV" value="DeacsjuLvg6KQnda" />-->
    <!--- prd -->
    <add key="jarvisUrl" value="https://portalezd.com/jarvis/api/" />
    <add key="jarvisUsr" value="JarvisIframe" />
    <add key="jarvisPass" value="TOJWGDLD" />
    <add key="dteResgate" value="https://qa-mypmi.cs80.force.com/dtebr/s/shopping" />
    <add key="isDev" value="1" />
    <add key="fixedQuery" value="qDvNfa/LpdMaOL9Pu6Ukj/WtuiytrCJJoJwJ6CG4ClC9/WTEaH7UHCd9PFfosjOhL/a1nkFC2jhA3sO9USFAV9j9cKy29vwxB1tkZQwAblAa+COW8fNvWE2JqzWKJOVQbLEo+EBcz+hOtUpzjfvLKBw2GmKq5mlLMV7x9/pfB7m/AjHBmX0aMRW+xKxrr9v8WWHm+L9QiVSSQSVB+SEn1XS3PxKb/Npad/rR+5CVKtFKXNgA8wm4Q36VNn5JiUkS83AjQjSUdmM0oQgmVSkgxWP45Bj2qqDd1ZXnRfUjy4mqZ15QnDIp0ldJ+ggoFgJo0Z+DDUQiKbRJaCjwXV9JJExy1ERbBIfVyoiFXaXtIdUo6LuLVjAAjABukw5Z5qWizc94DuUDQCN5KguHWoDo1SMwGZ8ianStyOthUajPgXZbwmrgetyki4qgwkFlSfY0KPqP2AKxsHFUqGuo81zTE2s85yn5LxetitGw+uzlX647YZIPLWKltUUwyYVYbWAWLY0+SyHpmBXN00bGj6YgFBz1P7F1Gc0tTL4cW4ZbwRYoJ7n+C1fOnaRIs65c57X/sk6pmTharekhvoR5zpNLiwRhsFHndsCr41YTr0QqrEVoN8etXOsok6taTiVcVRDF" />
    <add key="DTE_Key" value="AC37A27EF8391CD3AC37A27EF8391CD3" />
    <add key="DTE_IV" value="TestPMI 12345678" />
    <add key="fixedQuery2" value="qDvNfa/LpdMaOL9Pu6Ukj/WtuiytrCJJoJwJ6CG4ClC9/WTEaH7UHCd9PFfosjOhL/a1nkFC2jhA3sO9USFAV9j9cKy29vwxB1tkZQwAblAa+COW8fNvWE2JqzWKJOVQbLEo+EBcz+hOtUpzjfvLKBw2GmKq5mlLMV7x9/pfB7m/AjHBmX0aMRW+xKxrr9v8WWHm+L9QiVSSQSVB+SEn1XS3PxKb/Npad/rR+5CVKtFKXNgA8wm4Q36VNn5JiUkS83AjQjSUdmM0oQgmVSkgxWP45Bj2qqDd1ZXnRfUjy4mqZ15QnDIp0ldJ+ggoFgJo0Z+DDUQiKbRJaCjwXV9JJExy1ERbBIfVyoiFXaXtIdUo6LuLVjAAjABukw5Z5qWizc94DuUDQCN5KguHWoDo1SMwGZ8ianStyOthUajPgXZbwmrgetyki4qgwkFlSfY0KPqP2AKxsHFUqGuo81zTE2s85yn5LxetitGw+uzlX647YZIPLWKltUUwyYVYbWAWLY0+SyHpmBXN00bGj6YgFBz1P7F1Gc0tTL4cW4ZbwRYoJ7n+C1fOnaRIs65c57X/sk6pmTharekhvoR5zpNLiwRhsFHndsCr41YTr0QqrEVoN8etXOsok6taTiVcVRDF" />
    <add key="DTE_Contract_Key" value="kqs3oYi5vTctl6fywDLn1gYPdjw9sbbu" />
    <add key="DTE_Contract_IV" value="FB3RlsfaCW8YYgSX" />
    <add key="DTE_Dmd_Key" value="J1BjDqUJv82aLLP0kQj6Is520VJzZxwP" />
    <add key="DTE_Dmd_IV" value="zqbKPPnb2hmLla6F" />
    <add key="DTE_Test_Key" value="UgxYRnOEgQvw0846TOz7YFvzEDjWL4Zt" />
    <add key="DTE_Test_IV" value="DeacsjuLvg6KQnda" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: EC7E0181-72AF-49F4-9EF6-6B35534B0CC3-->